body{
    background-color: rgb(227, 227, 227);
}

button{
    border-style: none;
}

img{
    cursor: pointer;
}

.modal-content a{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
}

.modal-content{
    margin-top: 45%;
}


  @media screen and (max-width: 425px) {
    img{
        margin-top: 10%;
        width: 300px;
        height: 280px;
    }
  }

